body{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    font-family:monospace;
    color:#0f0;
}

/* Tela */
.game{
    width:320px;
    height:480px;
    border:4px solid #fff;
    position:relative;
    overflow:hidden;
    background:#1a1a1a;
}

/* Tela inicial */
.start{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.title{
    font-size:32px;
    animation:blink 1s infinite;
}

.blink{
    margin-top:20px;
    animation:blink 0.7s infinite;
}

@keyframes blink{
    50%{opacity:0;}
}

.hidden{ display:none; }

/* pista escritório */
.road{
    width:100%;
    height:100%;
    position:relative;
    background:
        repeating-linear-gradient(
            to bottom,
            #2a2a2a 0px,
            #2a2a2a 40px,
            #252525 40px,
            #252525 80px
        );
}

/* arquivista */
.player{
    width:40px;
    height:40px;
    background:#00ff9c;
    position:absolute;
    bottom:20px;
    left:140px;
}

/* armários */
.obstacle{
    width:40px;
    height:60px;
    background:#ff4444;
    position:absolute;
}

/* pontuação */
.score{
    position:absolute;
    top:5px;
    left:10px;
    font-size:18px;
}
